<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" class="no-js">

<head th:include="common/commoncss::commoncss">
<link rel="stylesheet" type="text/css" th:href="@{//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css}" >
</head>

<body class="animsition">
<div class="page-wrapper">
<!-- MENU SIDEBAR-->
<aside class="menu-sidebar2" th:include="common/siderbar::siderbar"></aside>
<!-- END MENU SIDEBAR-->

<!-- PAGE CONTAINER-->
<div class="page-container2">

<!-- HEADER DESKTOP-->
<header class="header-desktop2" th:include="common/header:: header"></header>
<!-- END HEADER DESKTOP-->

<!-- BREADCRUMB-->
<section class="au-breadcrumb m-t-75" th:include="primaryTask/basicCitizenDetail/breadcrum::breadcrum"></section>
<!-- END BREADCRUMB-->

<!-- CONTENT-->
<!--<div class="main-content">-->

    <div class="row">
        <div class="col-lg-12">
            <form th:action="@{/basiccitizendetail/save}" th:object="${citizenDetail}" th:method="post">
                <div class="card">
                    <div class="card-body card-block">

                        <a  th:href="@{/basiccitizendetail/add}" class="btn btn-primary">
                            <i class=""></i> New
                        </a>
                        <button type="submit" class="btn btn-primary">
                            <i class=""></i> Save
                        </button>
                        <a  th:href="@{/basiccitizendetail/delete(id=${citizenDetail.id})}"
                            th:disabled="${citizenDetail.id} ==null ? 'disabled'" class="btn btn-primary">
                            <i class=""></i> Delete
                        </a>
                        <a  th:href="@{/basiccitizendetail/}" class="btn btn-primary">
                            <i class=""></i> Cancel
                        </a>

                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <strong>Citizen Profile</strong>
                        <small> Form</small>
                    </div>
                    <div class="card-body card-block">

                        <input type="hidden" id="id" name="id" th:field="*{id}"/>
                        <input type="hidden" id="version" name="id" th:field="*{version}"/>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="GNid" class=" form-control-label">Householder Id</label>
                                    <input type="text" id="GNid" th:field="*{CFamilyNo}" placeholder="Enter your ID" class="form-control">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="status"  class=" form-control-label">Status</label>
                                    <select id="status" name="status" th:field="*{status}" class="form-control" >


                                        <option value="Dead"></option>
                                        <option value="Alive"></option>

                                    </select>
                                </div>
                            </div>
                        </div>

                    <!--<div class="col-md-6">
                        <div class="form-group">
                            <label for="dom_name"  class=" form-control-label">Domain Name</label>
                            <select id="dom_name" name="dom_name" th:field="*{CDomainName}" class="form-control" >

                                <option th:each="province:${provinces}"
                                        th:value="${province.id}" th:text="${province.name}"></option>


                            </select>
                        </div>
                    </div>
                </div>-->

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="initials"  class=" form-control-label">Initials</label>
                            <input type="text" id="initials" th:field="*{CInitials}" placeholder="" class="form-control">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="first_name"  class=" form-control-label">First Name</label>
                            <input type="text" id="first_name" th:field="*{CFamilyNo}" placeholder="" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="middle_name"  class=" form-control-label">Middle Name</label>
                            <input type="text" id="middle_name" th:field="*{CMiddleName}" placeholder="" class="form-control">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="last_name"  class=" form-control-label">Last Name</label>
                            <input type="text" id="last_name" th:field="*{CLastName}" placeholder="" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="eligibility"  class=" form-control-label">Eligibility Type</label>
                            <select id="eligibility" name="eligibility" th:field="*{eligibilityType}" class="form-control" >
                                <option value=""></option>
                                <option value="Yes"></option>
                                <option value="No"></option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="c_nic"  class=" form-control-label">NIC</label>
                            <input type="text" id="c_nic" th:field="*{CNic}" placeholder="" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="address"  class=" form-control-label" >Address</label>
                            <textarea  id="address" placeholder="" th:field="*{CAddress}" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="age"  class=" form-control-label">Age</label>
                            <input type="text" id="age" placeholder="" th:field="*{CAge}" class="form-control">
                        </div>
                    </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="datetimepicker1"  class=" form-control-label">Date of Birth</label>
                        <div class='input-group date' id='datetimepicker1'>
                            <input type='text' th:field="*{CDateOfBirth}" class="form-control" />
                            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">

            <div class="col-md-6">
                <div class="form-group">
                    <label for="gender"  class=" form-control-label">Gender</label>
                    <div class="col-md-6">
                        <div class="form-group" id="gender">
                            <input type="radio" value="male" class="form-control-radio" th:field="*{CGender}" name="gender">Male
                            <input type="radio" value="female" class="form-control-radio" th:field="*{CGender}"  name="gender">Female
                        </div>
                    </div>
                </div>
            </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="marital_status"  class=" form-control-label">Marital Status</label>
                        <select id="marital_status" name="marital_status" th:field="*{maritalStatus}" class="form-control" >
                            <option value=""></option>
                            <option value="Married"></option>
                            <option value="Unmarried"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="phone_no"  class=" form-control-label">Phone Number</label>
                        <input type="text" id="phone_no" placeholder="" th:field="*{CPhoneNumber}" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="email"  class=" form-control-label">Email Address</label>
                        <input type="text" id="email" placeholder="" th:field="*{CEmailAddress}" class="form-control">
                    </div>
                </div>
            </div>
                <div class="row ">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="nationality"  class=" form-control-label">Nationality</label>
                            <select id="nationality" name="nationality" th:field="*{CNationality}" class="form-control" >
                                <option value=""></option>
                                <option value="Sinhala"></option>
                                <option value="Tamil"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="religion"  class=" form-control-label">Religion</label>
                            <select id="religion" name="religion" th:field="*{CReligion}" class="form-control" >
                                <option value=""></option>
                                <option value="Buddhism"></option>
                                <option value="Islam"></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row ">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="birth_dis" th:field="*{CBirthDistrict}" class=" form-control-label">Birth District</label>
                            <select id="birth_dis" name="birth_dis" class="form-control" >
                                <option value=""></option>
                                <option value="Kandy"></option>
                                <option value="Mathale"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="edu_level"  class=" form-control-label">
                                Highest Education Level</label>
                            <select id="edu_level" name="edu_level" th:field="*{CHighestEducationLevel}" class="form-control" >
                                <option value=""></option>
                                <option value="Al"></option>
                                <option value="Ol"></option>
                            </select>
                        </div>
                    </div>
                </div>

                            <div class="row ">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="occupation" class=" form-control-label">Occupation</label>
                                        <input type="text" id="occupation" placeholder="" th:field="*{COccupation}" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="income"  class=" form-control-label">Income Status</label>
                                        <input type="text" id="income" placeholder="" th:field="*{CIncome}" class="form-control">
                                    </div>
                                </div>
                            </div>

                        <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="datetimepicker1" class=" form-control-label">Date of Death</label>
                                <div class='input-group date' id='datetimepicker1'>
                                    <input type='text' class="form-control" />
                                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" >
                            <div class="form-group"  >
                                <label for="reason" class=" form-control-label">Reason</label>
                                <input id="reason" placeholder="" name="reason" class="form-control">
                            </div>
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="info" class=" form-control-label">Name & Address of Citizen Bound to Give Information</label>
                                <textarea   id="info" placeholder="" class="form-control"></textarea>
                            </div>
                        </div>

                        </div>

                    </div>
                </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

</div>
</div>

</div>

</div>
<!-- END CONTENT-->

<div th:include="common/footer::footer"></div>
<!-- END PAGE CONTAINER-->
</div>
</div>
<div th:include="common/commonjs::commonjs"></div>
<script type="text/javascript" th:src="@{//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js}"></script>

<script th:inline="javascript">
$(function () {
$('#datetimepicker1').datetimepicker();
});
</script>
</body>
</html>
<!-- end document-->