<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" class="no-js">

<head th:include="common/commoncss::commoncss">
    <link rel="stylesheet" type="text/css" th:href="@{//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css}" >
</head>

<body class="animsition">
<div class="page-wrapper">
    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar2" th:include="common/siderbar::siderbar"></aside>
    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container2">

        <!-- HEADER DESKTOP-->
        <header class="header-desktop2" th:include="common/header:: header"></header>
        <!-- END HEADER DESKTOP-->

        <!-- BREADCRUMB-->
        <section class="au-breadcrumb m-t-75" th:include="citizenProfileTask/donationDetail/breadcrum::breadcrum"></section>
        <!-- END BREADCRUMB-->

        <!-- CONTENT-->
        <!--<div class="main-content">-->


        <div class="row">
            <div class="col-lg-12">

                <!--START OF CITIZEN DETAIL FORM-->
                <div class="card">
                    <form th:action="@{/donationdetail/save}" th:object="${donationDetail}" th:method="post">
                        <div class="card">
                            <div class="card-body card-block">

                                <a  th:href="@{/donationdetail/add}" class="btn btn-primary"><i class=""></i> New</a>

                                <button type="submit" class="btn btn-primary"><i class=""></i> Save</button>

                                <a  th:href="@{/donationdetail/delete(id=${donationDetail.id})}"
                                    th:disabled="${donationDetail.id} ==null ? 'disabled'" class="btn btn-primary">
                                    <i class=""></i> Delete</a>

                                <a  th:href="@{/donationdetail/}" class="btn btn-primary"><i class=""></i> Cancel</a>

                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <strong>Citizen Profile</strong>
                                <small> Form</small>
                            </div>



                            <!--START OF CITIZEN DONATION DETAIL-->

<div class="card-body card-block">

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="work_type" class=" form-control-label">Householder No</label>
                <select id="work_type" name="work_type" th:field="*{householderId}" class="form-control" >
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="donation_type" class=" form-control-label">Donation Type</label>
                <select id="donation_type" name="donation_type" th:field="*{donationType}" class="form-control" >
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                </select>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="date" class=" form-control-label">Received Date</label>
                <input type="date" id="date" th:field="*{receivedDate}" placeholder="" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="description" class=" form-control-label">Description</label>
                <textarea  id="description" placeholder="" th:field="*{description}" class="form-control"></textarea>
            </div>
        </div>
    </div>
</div>
<!--END OF CITIZEN PUBLIC DONATION DETAIL-->

    </div>
 </form></div>
</div>

</div>


<!-- END CONTENT-->
<div th:include="common/footer::footer"></div>
<!-- END PAGE CONTAINER-->
</div>
</div>
<div th:include="common/commonjs::commonjs"></div>
<script type="text/javascript" th:src="@{//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js}"></script>

<script th:inline="javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
</script>
</body>
</html>
<!-- end document-->