<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" class="no-js">

<head th:include="common/commoncss::commoncss">
    <link rel="stylesheet" type="text/css" th:href="@{//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css}" >
</head>

<body class="animsition">
<div class="page-wrapper">
    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar2" th:include="common/siderbar::siderbar"></aside>
    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container2">

        <!-- HEADER DESKTOP-->
        <header class="header-desktop2" th:include="common/header:: header"></header>
        <!-- END HEADER DESKTOP-->

        <!-- BREADCRUMB-->
        <section class="au-breadcrumb m-t-75" th:include="settings/gnDivision/breadcrum::breadcrum"></section>
        <!-- END BREADCRUMB-->

        <!-- CONTENT-->
        <!--<div class="main-content">-->

        <div class="row">
            <div class="col-lg-12">
                <form th:action="@{/gnDivision/save}" th:object="${user}" th:method="post">
                    <div class="card">
                        <div class="card-body card-block">

                            <a  th:href="@{/gnDivision/add}" class="btn btn-primary btn-sm">
                                <i class="fa fa-dot-circle-o"></i> New
                            </a>
                            <button type="submit" class="btn btn-success btn-sm">
                                <i class="fa fa-dot-circle-o"></i> Save
                            </button>
                            <a  th:href="@{/gnDivision/delete(id=${user.id})}" th:disabled="${user.id} == null ? 'disabled'" class="btn btn-danger btn-sm">
                                <i class="fa fa-dot-circle-o"></i> Delete
                            </a>
                            <a  th:href="@{/gnDivision/}" class="btn btn-warning btn-sm">
                                <i class="fa fa-ban"></i> Cancel
                            </a>

                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <strong>GN Division Registration</strong>
                            <small> Form</small>
                        </div>


                        <div class="card-body card-block">
                        <input type="hidden" id="id" name="id" th:field="*{id}"/>
                        <input type="hidden" id="version" name="id" th:field="*{version}"/>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="gn_div_no" class=" form-control-label">GN Division Number</label>
                                    <input type="text" id="gn_div_no" placeholder=""  th:field="*{password}" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="gn_div" class=" form-control-label">GN Division Name</label>
                                    <input type="text" id="gn_div" placeholder=""  th:field="*{password}" class="form-control">
                                </div>
                            </div>
                        </div>

                    </div>
                    </div>
                    </form>
                </div>

            </div>
        </div>
 <!-- END CONTENT-->

        <div th:include="common/footer::footer"></div>
        <!-- END PAGE CONTAINER-->
   </div>
</div>
    <div th:include="common/commonjs::commonjs"></div></div>
</body>
</html>
<!-- end document-->