<!-- STATISTIC-->
<html  xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" class="no-js" >
<div th:fragment="temp">
<section class="statistic"></section>

<section>
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-8">
                    <!-- RECENT REPORT 2-->
                    <div class="recent-report2">
                        <h3 class="title-3">Recent Reports</h3>
                        <div class="chart-info">
                            <div class="chart-info__left">
                                <!--<div class="chart-note">
                                    <span class="dot dot&#45;&#45;blue"></span>
                                    <span></span>
                                </div>
                                <div class="chart-note">
                                    <span class="dot dot&#45;&#45;green"></span>
                                    <span></span>
                                </div>-->
                            </div>
                            <div class="chart-info-right">
                                <div class="rs-select2--dark rs-select2--md m-r-10">
                                    <select class="js-select2" name="property">
                                        <option selected="selected">All Reports</option>
                                        <option value="">Citizen Report</option>
                                        <option value="">Diary Log Report</option>
                                        <option value="">Certificate Issuing Report</option>
                                    </select>
                                    <div class="dropDownSelect2"></div>
                                </div>
                                <div class="rs-select2--dark rs-select2--sm">
                                    <select class="js-select2 au-select-dark" name="time">
                                        <option selected="selected">All Time</option>
                                        <option value="">By Day</option>
                                        <option value="">By Week</option>
                                        <option value="">By Month</option>
                                        <option value="">By Year</option>
                                    </select>
                                    <div class="dropDownSelect2"></div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="recent-report__chart">
                            <canvas id="recent-rep2-chart"></canvas>
                        </div>-->
                    </div>
                    <!-- END RECENT REPORT 2-->
                </div>
                <div class="col-xl-4">
                    <!-- TASK PROGRESS-->
                    <div class="task-progress">
                        <h3 class="title-3">Task Calender</h3>

                    </div>
                    <!-- END TASK PROGRESS-->
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6">


                    <!-- certificate summary-->
                    <div class="user-data m-b-40">
                        <h3 class="title-3 m-b-30">
                            <i class="zmdi zmdi-account-calendar"></i>Daily Issued Certificate Summary</h3>
                        <div class="filters m-b-45">
                            <div class="rs-select2--dark rs-select2--md m-r-10 rs-select2--border">
                                <select class="js-select2" name="certificate">
                                    <option selected="selected">All Certificate</option>
                                    <option value="">Character Certificate</option>
                                    <option value="">Residential Certificate</option>
                                    <option value="">Death Confirmation Certificate</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>
                            <div class="rs-select2--dark rs-select2--sm rs-select2--border">
                                <select class="js-select2 au-select-dark" name="time">
                                    <option selected="selected">All Time</option>
                                    <option value="">By Day</option>
                                    <option value="">By Week</option>
                                    <option value="">By Month</option>
                                    <option value="">By Year</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>
                        </div>
                        <div class="table-responsive table-data">
                            <table class="table">
                                <thead>
                                <tr>
                                    <td>
                                        <label class="au-checkbox">
                                            <input type="checkbox">
                                            <span class="au-checkmark"></span>
                                        </label>
                                    </td>
                                    <td>person name</td>
                                    <td>certificate name</td>
                                </tr>
                                </thead>

                                <tbody>
                                <tr>
                                    <td>
                                        <!--<label class="au-checkbox">
                                            <input type="checkbox">
                                            <span class="au-checkmark"></span>
                                        </label>-->
                                    </td>
                                    <td>
                                        <div class="table-data__info"></div>
                                    </td>
                                </tr>

                                </tbody>

                            </table>
                            <div class="user-data__footer">
                                <button class="au-btn au-btn-load">load more</button>
                            </div>
                        </div>


                    </div>
                    <!-- end certificate summary-->
                </div>


                <div class="col-xl-6">
                    <!-- diary log-->
                    <div class="user-data m-b-40">
                        <h3 class="title-3 m-b-30">
                            <i class="zmdi zmdi-account-calendar"></i>Diary Log Summary</h3>
                        <div class="filters m-b-45">
                            <div class="rs-select2--dark rs-select2--md m-r-10 rs-select2--border">
                                <select class="js-select2" name="certificate">
                                    <option selected="selected">All Diary Logs</option>
                                    <option value="">Character Certificate</option>
                                    <option value="">Residential Certificate</option>
                                    <option value="">Death Confirmation Certificate</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>
                            <div class="rs-select2--dark rs-select2--sm rs-select2--border">
                                <select class="js-select2 au-select-dark" name="time">
                                    <option selected="selected">All Time</option>
                                    <option value="">By Day</option>
                                    <option value="">By Week</option>
                                    <option value="">By Month</option>
                                    <option value="">By Year</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>
                        </div>
                        <div class="table-responsive table-data">
                            <table class="table">
                                <thead>
                                <tr>
                                    <td>
                                        <label class="au-checkbox">
                                            <input type="checkbox">
                                            <span class="au-checkmark"></span>
                                        </label>
                                    </td>
                                    <td>work type</td>
                                    <td>status</td>
                                    <td>count</td>
                                </tr>
                                </thead>

                                <tbody>
                                <tr>
                                    <td>
                                        <!--<label class="au-checkbox">
                                            <input type="checkbox">
                                            <span class="au-checkmark"></span>
                                        </label>-->
                                    </td>
                                    <td>
                                        <div class="table-data__info"></div>
                                    </td>
                                </tr>

                                </tbody>

                            </table>
                            <div class="user-data__footer">
                                <button class="au-btn au-btn-load">load more</button>
                            </div>
                        </div>


                    </div>
                    <!-- END MAP DATA-->
                </div>
            </div>
        </div>
    </div>
</section>
</div>