<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" class="no-js">

<head th:include="common/commoncss::commoncss">
    <link rel="stylesheet" type="text/css" th:href="@{//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css}" >
</head>

<body class="animsition">
<div class="page-wrapper">
    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar2" th:include="common/siderbar::siderbar"></aside>
    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container2">

        <!-- HEADER DESKTOP-->
        <header class="header-desktop2" th:include="common/header:: header"></header>
        <!-- END HEADER DESKTOP-->

        <!-- BREADCRUMB-->
        <section class="au-breadcrumb m-t-75" th:include="administrativeTask/gnDivision/breadcrum::breadcrum"></section>
        <!-- END BREADCRUMB-->

        <!-- CONTENT-->
        <!--<div class="main-content">-->

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <strong>GN Division Detail</strong>
                        <small> Form</small>
                    </div>
                    <div class="card-body card-block">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="province" class=" form-control-label">Province</label>
                                    <select id="province" name="province" class="form-control">
                                        <option value=""></option>
                                        <option value="">Central</option>
                                        <option value="">Western</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="district" class=" form-control-label">District</label>
                                    <select id="district" name="district" class="form-control" >
                                        <option value=""></option>
                                        <option value="">Kandy</option>
                                        <option value="">Colombo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="ds_office" class=" form-control-label">Divisional Secretariat Office</label>
                                    <select id="ds_office" name="ds_office" class="form-control" >
                                        <option value=""></option>
                                        <option value="">Pujapitiya</option>
                                        <option value="">Kirulapone</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="gn_name" class=" form-control-label">Grama Niladhari Name</label>
                                    <input type="text" id="gn_name" placeholder="Enter your name" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="gn_div" class=" form-control-label">GN Division Name</label>
                                    <input type="text" id="gn_div" placeholder="Enter division name" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="total_villages" class=" form-control-label">Total Number of Villages</label>
                                    <select id="total_villages" name="total_villages" class="form-control" >
                                        <option value=""></option>
                                        <option value="">10</option>
                                        <option value="">5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="other_info" class=" form-control-label">Other Info:</label>
                                    <textarea  id="other_info" placeholder="other_info" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body card-block">
                                    <button type="save" class="btn btn-danger btn-sm">
                                        <i class="fa fa-dot-circle-o"></i> Save
                                    </button>
                                    <button type="reset" class="btn btn-primary btn-sm">
                                        <i class="fa fa-dot-circle-o"></i> Reset
                                    </button>
                                    <button type="cancel" class="btn btn-danger btn-sm">
                                        <i class="fa fa-ban"></i> Cancel
                                    </button>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
 <!-- END CONTENT-->

        <div th:include="common/footer::footer"></div>
        <!-- END PAGE CONTAINER-->
   </div>
</div>
<div th:include="common/commonjs::commonjs"></div>
</body>
</html>
<!-- end document-->