<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" class="no-js">

<head th:include="common/commoncss::commoncss">
    <link rel="stylesheet" type="text/css"
          th:href="@{//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css}">
</head>

<body class="animsition">
<div class="page-wrapper">
    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar2" th:include="common/siderbar::siderbar"></aside>
    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container2">

        <!-- HEADER DESKTOP-->
        <header class="header-desktop2" th:include="common/header:: header"></header>
        <!-- END HEADER DESKTOP-->

        <!-- BREADCRUMB-->
        <section class="au-breadcrumb m-t-75" th:include="primaryTask/citizenAssets/breadcrum::breadcrum"></section>
        <!-- END BREADCRUMB-->

        <!-- CONTENT-->
        <!--<div class="main-content">-->

        <div class="row">
            <div class="col-lg-12">

                <form th:action="@{/assetsofcitizen/save}" th:object="${citizenAsset}" th:method="post"
                      id="frm_citizenasset">


                    <div class="card">
                        <div class="card-body card-block">

                            <a th:href="@{/assetsofcitizen/add}" class="btn btn-primary">
                                <i class=""></i> New
                            </a>
                            <button type="submit" class="btn btn-primary">
                                <i class=""></i> Save
                            </button>
                            <a th:href="@{/assetsofcitizen/delete(id=${citizenAsset.id})}"
                               th:disabled="${citizenAsset.id} == null ? 'disabled'" class="btn btn-primary">
                                <i class=""></i> Delete
                            </a>
                            <a th:href="@{/assetsofcitizen/}" class="btn btn-primary">
                                <i class=""></i> Cancel
                            </a>

                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <strong>Land Asset</strong>
                            <small> Form</small>
                        </div>

                        <!--START OF LAND PROPERTY DETAILS-->
                        <div class="card-body card-block">

                            <input type="hidden" id="id" name="id" th:field="*{id}"/>
                            <input type="hidden" id="version" name="id" th:field="*{version}"/>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="hh_no" class=" form-control-label">Householder No</label>
                                        <select id="hh_no" name="hh_no" th:field="*{citizenId}"
                                                class="form-control">
                                            <option th:each="citizen:${citizens}"
                                                    th:value="${citizen.id}"
                                                    th:text="${citizen.citizenFamilyNo}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="land_name" class=" form-control-label">Land Name</label>
                                        <select id="land_name" name="land_name" th:field="*{landName}"
                                                class="form-control">
                                            <option th:each="land:${lands}"
                                                    th:value="${land.id}"
                                                    th:text="${land.landName}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="land_size" class=" form-control-label">Land Size</label>
                                        <input type="text" id="land_size" placeholder="" th:field="*{landSize}"
                                               class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="land_type" class=" form-control-label">Land Type</label>
                                        <select id="land_type" name="land_type" th:field="*{landId}"
                                                class="form-control">
                                            <option th:each="land:${lands}"
                                                    th:value="${land.id}"
                                                    th:text="${land.landType}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="cultivation"
                                               class=" form-control-label">Main Cultivations</label>
                                        <textarea id="cultivation" placeholder=""
                                                  th:field="*{mainCultivation}"
                                                  class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--END OF LAND PROPERTY DETAIL-->

                        <!--TAB START-->

                        <div class="card-body card-block">
                            <div class="card">
                                <div class="card-header">
                                    <ul class="nav nav-tabs">
                                        <li class="nav-item"><a class="nav-link " data-toggle="tab"
                                                                href="#tab_buiding_property">Building Property</a></li>
                                        <li class="nav-item"><a class="nav-link " data-toggle="tab"
                                                                href="#tab_other_facility">Vehicle Property</a></li>

                                    </ul>
                                </div>
                            </div>

                            <div class="tab-content">
                                <div id="tab_buiding_property" class="tab-pane fade in active">
                                    <!--START OF BUILDING PROPERTIES-->
                                    <div class="card-body card-block">

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="house_own" class=" form-control-label">House
                                                        Ownership</label>
                                                    <select id="house_own" name="house_own" th:field="*{houseOwnership}"
                                                            class="form-control">
                                                        <option th:each="houseOwnership:${houseOwnerships}"
                                                                th:value="${houseOwnership}"
                                                                th:text="${houseOwnership.houseOwnershipName}">
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="house_type" class=" form-control-label">House
                                                        Type</label>
                                                    <select id="house_type" name="house_type" th:field="*{houseType}"
                                                            class="form-control">
                                                        <option value=""></option>
                                                        <option value=""></option>
                                                        <option value=""></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="roof_type" class=" form-control-label">Roof Type</label>
                                                    <select id="roof_type" name="roof_type" th:field="*{roofType}"
                                                            class="form-control">
                                                        <option value=""></option>
                                                        <option value=""></option>
                                                        <option value=""></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="wall_type" class=" form-control-label">Wall Type</label>
                                                    <select id="wall_type" name="wall_type" th:field="*{wallType}"
                                                            class="form-control">
                                                        <option value=""></option>
                                                        <option value=""></option>
                                                        <option value=""></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="discription"
                                                           class=" form-control-label">Description</label>
                                                    <textarea id="discription" placeholder=""
                                                              th:field="*{assetDescription}"
                                                              class="form-control"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="form-control-label">Water Facility</label>
                                                    <div class="custom-control custom-switch">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" th:field="*{waterFacility}"
                                                                       data-toggle="toggle" id="water_facility" data-style="slow"
                                                                       data-on="Yes" data-off="No" data-onstyle="primary"
                                                                       data-size="small">
                                                            </label>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="form-control-label">Electricity</label>
                                                    <div class="custom-control custom-switch">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" th:field="*{electricity}"
                                                                       data-toggle="toggle" id="electricity" data-style="slow"
                                                                       data-on="Yes" data-off="No" data-onstyle="primary"
                                                                       data-size="small">
                                                            </label>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="form-control-label">Toilet Facility</label>
                                                    <div class="custom-control custom-switch">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" th:field="*{toiletFacility}"
                                                                       data-toggle="toggle" id="toilet_facility" data-style="slow"
                                                                       data-on="Yes" data-off="No" data-onstyle="primary"
                                                                       data-size="small">
                                                            </label>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    <!--END OF BUILDING PROPERTIES-->

                                <div id="tab_other_facility" class="tab-pane fade in active">
                                    <!--START OF OTHER FACILITY-->
                                    <div class="card-body card-block">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="vehicle_type" class=" form-control-label">Vehicle Type</label>
                                                    <select id="vehicle_type" name="land_name" th:field="*{landName}"
                                                            class="form-control">
                                                        <option th:each="land:${lands}"
                                                                th:value="${land.id}"
                                                                th:text="${land.landName}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="vehicle_no" class=" form-control-label">Vehicle No</label>
                                                    <select id="vehicle_no" name="land_type" th:field="*{landId}"
                                                            class="form-control">
                                                        <option th:each="land:${lands}"
                                                                th:value="${land.id}"
                                                                th:text="${land.landType}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="datetimepicker1" class=" form-control-label">Registered Date</label>
                                                    <input type='date' id="datetimepicker1" class="form-control" th:field="*{registerDate}" />
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!--END OF OTHER FACILITY-->
                                </div>


                            </div>

                        </div>

                    </div></form></div>

            </div>
        </div>

    </div>
    <!--<!-- END CONTENT-->
    <div th:include="common/footer::footer"></div>
    <!-- END PAGE CONTAINER-->
</div>
</div>
<div th:include="common/commonjs::commonjs"></div>

<script type="text/javascript" th:src="@{/js/app/PrimaryTask/CitizenAsset/CitizenAsset.js}"></script>
<script type="text/javascript" th:src="@{/js/app/PrimaryTask/CitizenAsset/init.js}"></script>

</body>
</html>
<!-- end document-->