<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" class="no-js">

<head th:include="common/commoncss::commoncss">
    <link rel="stylesheet" type="text/css"
          th:href="@{//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css}">
</head>

<body class="animsition">
<div class="page-wrapper">
    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar2" th:include="common/siderbar::siderbar"></aside>
    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container2">

        <!-- HEADER DESKTOP-->
        <header class="header-desktop2" th:include="common/header:: header"></header>
        <!-- END HEADER DESKTOP-->

        <!-- BREADCRUMB-->
        <section class="au-breadcrumb m-t-75" th:include="settings/serviceRegister/breadcrum::breadcrum"></section>
        <!-- END BREADCRUMB-->

        <!-- CONTENT-->
        <!--<div class="main-content">-->

        <div class="row">
            <div class="col-lg-12">
                <form th:action="@{/serviceregister/save}" th:object="${serviceRegister}" th:method="post" id="frm_serviceregister">
                    <div class="card">
                        <div class="card-body card-block">

                            <a th:href="@{/serviceregister/add}" class="btn btn-primary">
                                <i class=""></i> New
                            </a>
                            <button type="submit" class="btn btn-primary">
                                <i class=""></i> Save
                            </button>
                            <a th:href="@{/serviceregister/delete(id=${serviceRegister.id})}"
                               th:disabled="${serviceRegister.id} == null ? 'disabled'" class="btn btn-primary">
                                <i class=""></i> Delete
                            </a>
                            <a th:href="@{/serviceregister/}" class="btn btn-primary">
                                <i class=""></i> Cancel
                            </a>

                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <strong>Citizen Service Registration</strong>
                            <small> Form</small>
                        </div>


                        <div class="card-body card-block">
                            <input type="hidden" id="id" name="id" th:field="*{id}"/>
                            <input type="hidden" id="version" name="id" th:field="*{version}"/>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="service_no" class=" form-control-label">Service No</label>
                                        <input type="text" id="service_no" placeholder="" th:field="*{serviceNo}"
                                               class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="service_type" class=" form-control-label">Service Type</label>
                                        <input type="text" id="service_type" placeholder="" th:field="*{serviceType}"
                                               class="form-control">
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <!-- END CONTENT-->
    <div th:include="common/footer::footer"></div>
    <!-- END PAGE CONTAINER-->
</div>
</div>
<div th:include="common/commonjs::commonjs"></div>

<script type="text/javascript" th:src="@{/js/lib/bootstrap-datetimepicker.min.js}"></script>
<script type="text/javascript" th:src="@{/js/app/Settings/serviceRegister/serviceRegister.js}"></script>
<script type="text/javascript" th:src="@{/js/app/Settings/serviceRegister/init.js}"></script>
</body>
</html>
<!-- end document-->