<!DOCTYPE html>
<html>
<head>
	<title>Donation Records</title>
<link rel="stylesheet" type="text/css" href="C:\Users\Dulika\Documents\GN Project\css\main.css">
<style>
	body{
		margin: 0;
		padding: 0;
		font-family: sans-serif;
		color: darkgrey;
		background: url('../../static/images/bgimage.jpg');
	}
</style>
</head>
<body>
	<header>
		<div class="container">
			<div class="logo">
				<h1>e-GN</h1>
			</div>
			<nav>
				<li><a href="C:\Users\Dulika\Documents\GN Project\primary_task_basic_hh_detail.html">Basic Details</a></li>
				<li><a href="C:\Users\Dulika\Documents\GN Project\primary_task_hh_dependent_detail.html">Dependent Details</a></li>
				<li><a href="C:\Users\Dulika\Documents\GN Project\primary_task_assets_of_citizen.html">Assets of Citizen</a></li>
				<li><a href="C:\Users\Dulika\Documents\GN Project\primary_task_hh_donation_record.html">Donation Records</a></li>
				
				</nav>
		</div>
	</header>
<!-- End of Header -->

<!-- Sidebar -->
<div class="sidebar">
	<h2>Primary Task Process</h2>
		<ul>
			<li><a href="C:\Users\Dulika\Documents\GN Project\primary_task_basic_hh_detail.html">Householder Details</a></li>
			<li><a href="C:\Users\Dulika\Documents\GN Project\primary_task_basic_citizen_detail.html">Citizen Details</a></li>
			<li><a href="C:\Users\Dulika\Documents\GN Project\NIC eligibility.html">NIC Eligibility</a></li>
			<li><a href="C:\Users\Dulika\Documents\GN Project\voter list eligibility.html">Voter List Eligibility</a></li>
		</ul>
	<div class="info">
	<h2>Find More>></h2>
		<ul>
			<li><a href="C:\Users\Dulika\Documents\GN Project\">Search</a></li>
			<li><a href="C:\Users\Dulika\Documents\GN Project\">View</a></li>
			<li><a href="C:\Users\Dulika\Documents\GN Project\">Print</a></li>
		</ul>
	</div>
</div>

<div class="Content">
	<div class="container1">
  	<form>
	
	<div class="row">
    <div class="col-25">
      	<label for="samurdhi">Allow Samurdhi</label>
    </div>
    <div class="col-75">
    	<input type="radio" id="samurdhi" name="samurdhi">Yes
	    <input type="radio" id="samurdhi" name="samurdhi">No
    </div>
  	</div>

	<div class="row">
    <div class="col-25">
      	<label for="otherdonation">Other Donation</label>
    </div>
    <div class="col-75">
      	<select id="otherdonation" name="otherdonation" >
	        <option value=""></option>
            <option value=""></option>
            <option value=""></option>
      	</select>
    </div>
  	</div>

  	<div class="row">
    <div class="col-25">
      	<label for="accountno">Account No</label>
    </div>
    <div class="col-75">
      	<input type="text" id="accountno" name="accountno" >
    </div>
  	</div>

	<div class="row">
    <div class="col-25">
      	<label for="receiveddate">Received Date</label>
    </div>
    <div class="col-75">
      	<input type="date" id="receiveddate" name="receiveddate">
    </div>
  	</div>

  	<div class="row">
    <div class="col-25">
      	<label for="nextdate">Next Receive Date</label>
    </div>
    <div class="col-75">
      	<input type="date" id="nextdate" name="nextdate">
    </div>
  	</div>

	<div class="row">
    <div class="col-25">
      	<label for="description">Description</label>
    </div>
    <div class="col-75">
      	<textarea id="description" name="description" style="height:100px"></textarea>
    </div>
  	</div>

	<div class="row">
		<input type="submit" value="Cancel" style="padding-top: 10px; margin-top: 10px;">
		<input type="submit" value="Delete" style="padding-top: 10px; margin-top: 10px; margin-right: 10px;">
		<input type="submit" value="Reset" style="padding-top: 10px; margin-top: 10px; margin-right: 10px;">
		<input type="submit" value="Save" style="padding-top: 10px; margin-top: 10px; margin-right: 10px;">
	</div>

	</form>
	</div>
</div>

</body>
</html>