<!DOCTYPE html>
<html>
<head>
	<title>Citizen Detail</title>
<link rel="stylesheet" type="text/css" href="C:\Users\Dulika\Documents\GN Project\css\main.css">
<style>
  body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: darkgrey;
    background: url('bgimage.jpg');
  }
</style>
</head>

<body>
<header>
	<div class="container">
	<div class="logo">
		<h1>e-GN</h1>
	</div>
	<nav>
		<li><a href="C:\Users\Dulika\Documents\GN Project\primary_task_basic_citizen_detail.html">Basic Detail</a></li>
		<li><a href="C:\Users\Dulika\Documents\GN Project\primary_task_citizen_public_donations.html">Public Donations</a></li>
		<li><a href="C:\Users\Dulika\Documents\GN Project\primary_task_citizen_services.html">Citizen Services</a></li>
	</nav>
	</div>
</header>
		
<div class="sidebar">
	<h2>Primary Task Process</h2>
	<ul>
		<li><a href="C:\Users\Dulika\Documents\GN Project\primary_task_basic_hh_detail.html">Householder Details</a></li>
		<li><a href="C:\Users\Dulika\Documents\GN Project\primary_task_basic_citizen_detail.html">Citizen Details</a></li>
		<li><a href="#">NIC Eligibility</a></li>
		<li><a href="#">Voter List Eligibility</a></li>
	</ul>
	<div class="info">
	<h2>Find More>></h2>
	<ul>
		<li><a href="#">Search</a></li>
		<li><a href="#">View</a></li>
		<li><a href="#">Print</a></li>
	</ul>
	</div>
</div>

<div class="Content">
	<div class="container1">
  	
  	<form>
    <div class="row">
    <div class="col-25">
      	<label for="householder no">Householder No</label>
    </div>
    <div class="col-75">
      	<input type="text" id="householder no" name="householder no" >
    </div>
  	</div>

  	<div class="row">
    <div class="col-25">
      	<label for="relationship">Relationship</label>
    </div>
    <div class="col-75">
      	<select id="relationship" name="relationship" >
	       <option value=""></option>
            <option value=""></option>
            <option value=""></option>
      	</select>
    </div>
  	</div>

  	<div class="row">
    <div class="col-25">
      	<label for="fname">First Name</label>
    </div>
    <div class="col-75">
      	<input type="text" id="fname" name="firstname" placeholder="Your name..">
    </div>
  	</div>

	<div class="row">
    <div class="col-25">
      	<label for="mname">Middle Name</label>
    </div>
    <div class="col-75">
      	<input type="text" id="mname" name="middlename" placeholder="Your middle name..">
    </div>
  	</div>

  	<div class="row">
    <div class="col-25">
      	<label for="lname">Last Name</label>
    </div>
    <div class="col-75">
      	<input type="text" id="lname" name="lastname" placeholder="Your last name..">
    </div>
  	</div>
  
  	<div class="row">
    <div class="col-25">
      	<label for="address">Address</label>
    </div>
    <div class="col-75">
      	<textarea id="address" name="address" style="height:200px"></textarea>
    </div>
  	</div>

	<div class="row">
    <div class="col-25">
      	<label for="age">Age</label>
    </div>
    <div class="col-75">
      	<input type="text" id="age" name="age">
    </div>
  	</div>

	<div class="row">
    <div class="col-25">
      	<label for="bdate">Date of Birth</label>
    </div>
    <div class="col-75">
      	<input type="date" id="bdate" name="birthdate">
    </div>
  	</div>


	<div class="row">
    <div class="col-25">
      	<label for="phoneno">Phone Number</label>
    </div>
    <div class="col-75">
      	<input type="text" id="phoneno" name="phonenumber">
    </div>
  	</div>

  	<div class="row">
    <div class="col-25">
      	<label for="nic">NIC</label>
    </div>
    <div class="col-75">
      	<input type="text" id="nic" name="nic">
    </div>
  	</div>

	<div class="row">
    <div class="col-25">
      	<label for="nationality">Nationality</label>
    </div>
    <div class="col-75">
      	<select id="nationality" name="nationality" >
	        <option value=""></option>
            <option value=""></option>
            <option value=""></option>
      	</select>
    </div>
  	</div>

	<div class="row">
    <div class="col-25">
      	<label for="religion">Religion</label>
    </div>
    <div class="col-75">
      	<select id="religion" name="religion" >
	        <option value=""></option>
            <option value=""></option>
            <option value=""></option>
      	</select>
    </div>
  	</div>

	<div class="row">
    <div class="col-25">
      	<label for="gender">Gender</label>
    </div>
    <div class="col-75">
	      <input type="radio" id="gender" name="gender">Male
	      <input type="radio" id="gender" name="gender">Female
    </div>
  	</div>

	<div class="row">
    <div class="col-25">
      	<label for="birthdistrict">Birth District</label>
    </div>
    <div class="col-75">
      	<select id="birthdistrict" name="birthdistrict" >
	        <option value=""></option>
            <option value=""></option>
            <option value=""></option>
      	</select>
    </div>
  	</div>

	<div class="row">
    <div class="col-25">
      	<label for="prvdistrict">Previous resident District</label>
    </div>
    <div class="col-75">
      	<select id="prvdistrict" name="previousdistrict" >
	        <option value=""></option>
            <option value=""></option>
            <option value=""></option>
      	</select>
    </div>
  	</div>

	<div class="row">
    <div class="col-25">
      	<label for="reason">Reason to Come</label>
    </div>
    <div class="col-75">
      	<select id="reason" name="reason" >
	       <option value=""></option>
            <option value=""></option>
            <option value=""></option>
      	</select>
    </div>
  	</div>
	
	<div class="row">
    <div class="col-25">
      	<label for="edulevel">Highest Education Level</label>
    </div>
    <div class="col-75">
      	<select id="edulevel" name="educationlevel" >
	        <option value=""></option>
            <option value=""></option>
            <option value=""></option>
      	</select>
    </div>
  	</div>

	<div class="row">
    <div class="col-25">
      	<label for="other">Other</label>
    </div>
    <div class="col-75">
      	<textarea id="other" name="other" style="height:100px"></textarea>
    </div>
  	</div>

	<div class="row">
    <div class="col-25">
      	<label for="specialskills">Special Skills</label>
    </div>
    <div class="col-75">
      	<textarea id="specialskills" name="specialskills" style="height:100px"></textarea>
    </div>
  	</div>

	<div class="row">
    <div class="col-25">
      	<label for="maritulstatus">Marital Status</label>
    </div>
    <div class="col-75">
      	<select id="maritulstatus" name="maritulstatus" >
	       <option value=""></option>
            <option value=""></option>
            <option value=""></option>
      	</select>
    </div>
  	</div>
	
	<div class="row">
    <div class="col-25">
      	<label for="occupation">Occupation</label>
    </div>
    <div class="col-75">
      	<input type="text" id="occupation" name="occupation">
    </div>
  	</div>

	<div class="row">
    <div class="col-25">
      	<label for="health">Healthiness</label>
    </div>
    <div class="col-75">
      	<select id="health" name="health" >
	        <option value=""></option>
            <option value=""></option>
            <option value=""></option>
      	</select>
    </div>
  	</div>
  
  	<div class="row">
	    <input type="submit" value="Cancel" style="padding-top: 10px; margin-top: 10px;">
	    <input type="submit" value="Delete" style="padding-top: 10px; margin-top: 10px; margin-right: 10px;">
	    <input type="submit" value="Reset" style="padding-top: 10px; margin-top: 10px; margin-right: 10px;">
	    <input type="submit" value="Save" style="padding-top: 10px; margin-top: 10px; margin-right: 10px;">
    </div>
      
  	</form>
	</div>
</div>

</body>
</html>