<!DOCTYPE html>
<html>
<head>
	<title>Basic Householder Detail</title>
	<link rel="stylesheet" type="text/css" href="C:\Users\Dulika\Documents\GN Project\css\main.css">
<style>
  body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: darkgrey;
    background: url('bgimage.jpg');
  }
</style>

</head>
<body>
<!-- Header -->
	<header>
		<div class="container">
			<div class="logo">
				<h1>e-GN</h1>
			</div>
			<nav>
				<li><a href="C:\Users\Dulika\Documents\GN Project\primary_task_basic_hh_detail.html">Basic Details</a></li>
				<li><a href="C:\Users\Dulika\Documents\GN Project\primary_task_hh_dependent_detail.html">Dependent Details</a></li>
				<li><a href="C:\Users\Dulika\Documents\GN Project\primary_task_assets_of_citizen.html">Assets of Citizen</a></li>
				<li><a href="C:\Users\Dulika\Documents\GN Project\primary_task_hh_donation_record.html">Donation Records</a></li>
				
				</nav>
		</div>
	</header>
<!-- End of Header -->

<!-- Sidebar -->
		<div class="sidebar">
			<h2>Primary Task Process</h2>
			<ul>
				<li><a href="C:\Users\Dulika\Documents\GN Project\primary_task_basic_hh_detail.html">Householder Details</a></li>
				<li><a href="C:\Users\Dulika\Documents\GN Project\primary_task_basic_citizen_detail.html">Citizen Details</a></li>
				<li><a href="NIC eligibility.html">NIC Eligibility</a></li>
				<li><a href="voter list eligibility.html">Voter List Eligibility</a></li>

			</ul>
			<div class="info">
			<h2>Find More>></h2>
			<ul>
				<li><a href="#">Search</a></li>
				<li><a href="#">View</a></li>
				<li><a href="#">Print</a></li>
	
			</ul>
			</div>
		</div>
<!-- End of Sidebar -->
<!-- Content -->
	<div class="Content">
	
<!-- Form start -->
	<div class="container1">
  	<form>
	    <div class="row">
	    <div class="col-25">
	      	<label for="householder no">Householder No</label>
    	</div>
    	<div class="col-75">
      		<input type="text" id="householder no" name="householder no" >
    	</div>
  		</div>

  		<div class="row">
    	<div class="col-25">
      		<label for="domname">Domain Name</label>
    	</div>
    	<div class="col-75">
      		<select id="domname" name="domainname" >
		        <option value="australia"></option>
		        <option value="australia"></option>
		        <option value="canada"></option>
      	</select>
    	</div>
  		</div>
  
		<div class="row">
    	<div class="col-25">
      		<label for="houseownership">House Ownership</label>
    	</div>
    	<div class="col-75">
      		<select id="houseownership" name="houseownership" >
		       <option value="australia"></option>
		        <option value="australia"></option>
		        <option value="canada"></option>
      		</select>
    	</div>
  		</div>

		<div class="row">
    	<div class="col-25">
      		<label for="housetype">House Type</label>
    	</div>
    	<div class="col-75">
      		<select id="housetype" name="housetype" >
		        <option value="australia"></option>
		        <option value="australia"></option>
		        <option value="canada"></option>
      		</select>
    	</div>
  		</div>

		<div class="row">
    	<div class="col-25">
      		<label for="rooftype">Roof Type</label>
    	</div>
    	<div class="col-75">
      		<select id="rooftype" name="rooftype" >
		        <option value="australia"></option>
		        <option value="australia"></option>
		        <option value="canada"></option>
       		</select>
    	</div>
  		</div>

		<div class="row">
    	<div class="col-25">
      		<label for="walltype">Wall Type</label>
    	</div>
    	<div class="col-75">
      		<select id="walltype" name="walltype" >
		        <option value="australia"></option>
		        <option value="australia"></option>
		        <option value="canada"></option>
			</select>
    	</div>
  		</div>

		<div class="row">
    	<div class="col-25">
      		<label for="floortype">Floor Type</label>
    	</div>
    	<div class="col-75">
      		<select id="floortype" name="floor type" >
		        <option value="australia"></option>
		        <option value="australia"></option>
		        <option value="canada"></option>
      		</select>
    	</div>
  		</div>
		
		<div class="row">
    	<div class="col-25">
      		<label for="district">District</label>
    	</div>
    	<div class="col-75">
      		<select id="district" name="district" >
		        <option value="australia"></option>
		        <option value="australia"></option>
		        <option value="canada"></option>
      		</select>
    	</div>
  		</div>

		<div class="row">
    	<div class="col-25">
      		<label for="other">Other</label>
    	</div>
    	<div class="col-75">
      		<textarea id="other" name="other" style="height:100px"></textarea>
    	</div>
  		</div>
  
  		<div class="row">
    		<input type="submit" value="Submit">
  		</div>
  	</form>
<!-- End of Form -->
	</div>		
<!-- End of Content -->
</body>
</html>