<!DOCTYPE html>
<html>
<head>
	<title>Search-Donation Type</title>
<link rel="stylesheet" type="text/css" href="C:\Users\Dulika\Documents\GN Project\css\main.css">
<style>
	body{
		margin: 0;
		padding: 0;
		font-family: sans-serif;
		color: darkgrey;
		background: url('../../../static/images/bgimage.jpg');
	}
</style>
</head>
<body>
	<header>
		<div class="container">
			<div class="logo">
				<h1>e-GN</h1>
			</div>
			<nav>
				<li><a href="C:\Users\Dulika\Documents\GN Project\search_hhdetail_hh_number.html">Householder No & Home Address</a></li>
				<li><a href="C:\Users\Dulika\Documents\GN Project\search_hhdetail_occupancy_time.html">Occupancy Time</a></li>
				<li><a href="C:\Users\Dulika\Documents\GN Project\search_hhdetail_public_donation_type.html">Public Donation Type</a></li>
				
				
				</nav>
		</div>
	</header>
		
		<div class="sidebar">
			<h2>Search</h2>
			<ul>
				<li><a href="C:\Users\Dulika\Documents\GN Project\search_hhdetail_hh_number.html">Householder Detail</a></li>
				<li><a href="C:\Users\Dulika\Documents\GN Project\search_citizendetail_nic.html">Citizen Detail</a></li>
				<li><a href="C:\Users\Dulika\Documents\GN Project\search_diary_entries_worktype.html">Diary Entries</a></li>
				<li><a href="C:\Users\Dulika\Documents\GN Project">Services</a></li>

			</ul>
			<div class="info">
			<h2>Find More>></h2>
			<ul>
				<li><a href="C:\Users\Dulika\Documents\GN Project\search_hhdetail_hh_number.html">Search</a></li>
					<li><a href="C:\Users\Dulika\Documents\GN Project">View</a></li>
					<li><a href="#">Print</a></li>
	
			</ul>
			</div>
		</div>

	<div class="Content">
		<div class="container1">
		<form class="form-inline" action="/action_page.php">
  <label for="donation">Type of Donation:</label>
  <select id="donation" name="donation" >
        <option value=""></option>
            <option value=""></option>
            <option value=""></option>
      </select>
  
  <div class="input2">
  <button type="submit">Search</button>
</div>
</form>

<div style="overflow-x:auto;">
  <table>
    <tr>
      <td>First Name</td>
      <th>Last Name</th>
      <th>Points</th>
      <th>Points</th>
      <th>Points</th>
      <th>Points</th>
      
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      
    </tr>
    </table>
	</div>
	</div>	
			

</body>
</html>